<nav class="uk-navbar-container uk-padding" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-icon-link navbar-item navbar-btn" uk-icon="icon: arrow-left; ratio: 2" [routerLink]="['']"></a>
  </div>
  <div class="uk-navbar-right">
    <a class="uk-icon-link navbar-item navbar-btn" uk-icon="icon: cloud-download; ratio: 2"></a>
  </div>
</nav>

<div class="contact-container uk-margin-small-top">
  <app-contact-item></app-contact-item>
  <app-contact-item></app-contact-item>
  <app-contact-item></app-contact-item>
  <app-contact-item></app-contact-item>
</div>
