@import '../../scss/variable.scss';

.navigation {
  padding-top: 20px;
  width: 100%;
  height: 76px;
  background-color: $primary-text;
}

.contactContainer {
  margin-left: 10%;
  margin-right: 10%;
}

.Button {
  padding: 0;
  width: 50px;
  height: 50px;
  border: 2px solid $secondary-background;
  background-color: $primary-background;
  border-radius: 50%;
  color: $primary-text;
  text-align: center;
}

.backButton {
  margin-left: 5%;
}

.saveButton {
  float: right;
  position: absolute;
}

.rightButton {
  float: right;
  margin-right: 5%;
  direction: rtl;
}
