<div class="navigation">
  <div>
    <button class="uk-button  Button backButton" title="Back">
      <span uk-icon="icon: arrow-left; ratio: 2 "></span>
    </button>
    <div class="rightButton">
      <button class="uk-button Button saveButton" title="Save">
        <span uk-icon="icon:  check; ratio: 2 "></span>
      </button>
    </div>
  </div>
</div>
<br>
<div class="contactContainer">
  <app-contact-item></app-contact-item>
  <app-contact-item></app-contact-item>
  <app-contact-item></app-contact-item>
  <app-contact-item></app-contact-item>
</div>
