@import '../../scss/variable.scss';
.uk-navbar-container {
  background-color: transparent;
}

.contact-container {
  margin-left: 10%;
  margin-right: 10%;
}

.navbar-btn {
  border: 2px solid $primary-text;
  background-color: $primary-text;
  border-radius: 100%;
  color: $primary-background;
  padding: 12px;
  transition: all ease-in-out 0.2s;
  &:hover {
    background-color: $primary-background;
    color: $primary-text;
  }
}

