<nav class="uk-navbar-container uk-padding" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-icon-link navbar-item navbar-btn" uk-icon="icon: arrow-left; ratio: 2" [routerLink]="['']"></a>
  </div>
  <div class="uk-navbar-right">
    <a class="uk-icon-link navbar-item navbar-btn" uk-icon="icon: cloud-download; ratio: 2"></a>
  </div>
</nav>

<div *ngIf="contactList && contactList.length > 0" class="contact-container uk-margin-small-top">
  <ng-container *ngFor="let contact of contactList; let i = index">
    <app-contact-item [firstName]="contact.firstName" [lastName]="contact.lastName" [phoneNumber]="contact.phoneNumber" [index]="i" (deleteEvent)="deleteContact($event)">
    </app-contact-item>
  </ng-container>
</div>
