<div class="uk-flex card-container uk-margin-bottom" uk-grid>
  <div class="uk-flex uk-flex-middle uk-text-middle uk-width-1-3">
    <span class="uk-text-middle">{{firstName + " " + lastName}}</span>
  </div>
  <div class="uk-flex uk-flex-middle uk-text-middle uk-width-1-3">
    <span class="uk-text-middle">{{phoneNumber}}</span>
  </div>
  <div class="uk-flex uk-flex-right uk-text-right uk-width-1-3">
    <div class="uk-align-right">
      <a class="uk-icon-button delete-button" uk-icon="trash" (click)="onDeleteEvent()"></a>
    </div>
  </div>
</div>

