/* You can add global styles to this file, and also import other style files */
@import "./scss/variable.scss";

html,
body {
  background-color: $primary-background;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url('./fonts/OpenSans-Regular.ttf') format('truetype');;
}

* {
  font-family: 'OpenSans-Regular';
}
