$primary-text: #226597;
$primary-background: #F3F9FB;
$secondary-text: #113F67;
$secondary-background: #87C0CD;


// Uikit customization;
$global-primary-background: $primary-background;
$global-secondary-background: $secondary;
